/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* VARIABLES */

:root {
  --button-bg-color: #fcb72b;
  --main-text-color: #495567;
  --main-mini-text-color: #939caa;
  --main-color: #e5ecf4;
}

/* space-mono-regular - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/space-mono-v11-latin-regular.woff2") format("woff2"),
    url("/fonts/space-mono-v11-latin-regular.woff") format("woff");
}
/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/space-mono-v11-latin-700.woff2") format("woff2"),
    url("/fonts/space-mono-v11-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/lexend-deca-v16-latin-regular.woff2") format("woff2"),
    url("/fonts/lexend-deca-v16-latin-regular.woff") format("woff");
}

/* GENERAL */

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: var(--main-line-height);
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.site-header {
  padding: 22px 0 21px 0;
}

.site-header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.site-header__logohreft {
  margin-right: 58px;
}
.site-header__logo-img {
  display: block;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navbar__itms:nth-child(2) {
  margin: 0 32px;
}
.navbar__hreft {
  text-decoration: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar__hreft:hover {
  color: var(--button-bg-color);
}

.get-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding: 11px 36px;
  background-color: var(--button-bg-color);
  border: 3px solid #fcb72b;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.Get {
  width: 180px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

.get-box:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: transparent;
}
.get-box:hover .Get {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: var(--button-bg-color);
}

/* HEADER END  */

.hero {
  padding: 153px 0;
  background-image: url("/images/Bitmap.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__box {
  width: 500px;
}
.hero__big-text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}
.hero__mini-text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}
.get-box--twoo {
  margin-left: 0;
  margin-left: 95px;
}
.hero__box-mini {
  width: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: auto;
}
.hero__box-mini::before {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 452px);
  content: "";
  width: 203px;
  height: 100%;
  background-image: url("/images/strelka-yarm.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero__box-mini::after {
  position: absolute;
  top: calc(50% + -27px);
  left: calc(50% + 237px);
  content: "";
  width: 447px;
  height: 100%;
  background-image: url("/images/strelka-ong.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* HERO END */

.middle {
  padding: 160px 0 178px 0;
}

.middle__list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 266px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.middle__list::before {
  position: absolute;
  top: 39px;
  left: -105px;
  z-index: -1;
  content: "";
  width: 974px;
  height: 20px;
  background-image: url("/images/hira-chiziq.svg");

  background-repeat: no-repeat;
  background-size: contain;
}
.middle__itms {
  width: 350px;
}

.middle__itms:nth-child(2) {
  margin: 0 30px;
}
.middle__itms::before {
  margin-bottom: 40px;
  display: block;
  content: "";
  width: 96px;
  height: 96px;
  background-image: url("/images/tel.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.middle__itms:nth-child(2)::before {
  background-image: url("/images/skuter-2.svg");
}

.middle__itms:nth-child(3)::before {
  background-image: url("/images/scutter.svg");
}

.middle__itms-big-text {
  margin: 0;
  margin-bottom: 27px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--main-text-color);
}

.middle__itms-mini-text {
  margin: 0;

  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-mini-text-color);
}

.middle__list-twoo {
  margin: 0;
  padding: 0;
  list-style: none;
}
.middle__itms-twoo-box {
  width: 445px;
}
.middle__itms-twoo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.middle__itms-twoo:nth-child(2) {
  margin: 292px 0;
}
.middle__itms-twoo-big-text {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--main-text-color);
}
.middle__itms-twoo-mini-text {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-mini-text-color);
}

.middle__itms-twoo-img {
  margin-left: 220px;
}
.middle__itms-twoo:nth-child(1):after {
  position: absolute;
  right: -465px;
  content: "";
  width: 445px;
  height: 445px;
  background-image: url("/images/dumaloq-xira.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.middle__itms-twoo:nth-child(1):before {
  position: absolute;
  right: -95px;
  top: calc(50% + 75px);
  z-index: 10;
  content: "";
  width: 735px;
  height: 100%;
  background-image: url("/images/strelka-chap-uzun.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.middle__itms-twoo-img-twoo {
  margin-right: 220px;
}
.middle__itms-twoo:nth-child(2):before {
  position: absolute;
  top: 35px;
  left: -121px;
  z-index: 10;
  content: "";
  width: 735px;
  height: 100px;
  background-image: url("/images/strelka-ong.svg");

  background-repeat: no-repeat;
  background-size: contain;
}
.middle__itms-twoo:nth-child(2):after {
  position: absolute;
  left: -485px;
  content: "";
  width: 445px;
  height: 445px;
  background-image: url("/images/dumaloq-xira.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.middle__itms-get-href {
  margin: 0;
}
.middle__itms-twoo:nth-child(3):after {
  position: absolute;
  right: -465px;
  content: "";
  width: 445px;
  height: 445px;
  background-image: url("/images/dumaloq-xira.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.middle__itms-twoo:nth-child(3):before {
  position: absolute;
  right: -500px;
  top: calc(50% - 111px);
  z-index: 10;
  content: "";
  width: 735px;
  height: 100px;
  background-image: url("/images/strelka-chap-uzun.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* MIDDLE END */

.sign {
  padding: 102px 0;
  background-color: var(--main-text-color);
  background-image: url("/images/avalni.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 308px) calc(50% + 146px);
}

.sign__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sign__big-text-box {
  width: 415px;
  margin-right: auto;
}
.sign__big-tex {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #ffffff;
}
.sign__box-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sign__xreft {
  text-decoration: none;
}
.sign__xreft-box-twoo {
  margin-left: 18px;
}
.sign__xreft-box {
  padding: 8px 15px;
  background: #e5ecf4;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sign__span-box {
  margin-left: 11px;
}

.sign__mini-span {
  display: block;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
}
.sign__big-span {
  display: block;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
}

/* SIGN END */

.site-footer {
  padding: 35px 0 32px 0;
  background-color: #333a44;
}
.footer__list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__img-icon:nth-child(2) {
  margin: 0 24px;
}
.footer__img-icon svg {
  fill: var(--button-bg-color);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__img-icon:hover svg {
  fill: #fff;
}

/* INDEX PAGE END */
.intro {
  padding-bottom: 80px;
  background-image: url("/images/hero-img.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.intro__about-box {
  padding: 62px 0;
}
.intro__big-box {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.intro__list {
  margin: 0;
  margin-top: 272px;
  padding: 0;
  list-style: none;
  position: relative;
}
.intro__itms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.intro__itms-box-text {
  width: 445px;
  margin-right: 190px;
}
.intro__itms:nth-child(1) {
  margin-bottom: 77px;
}

.intro__itms:nth-child(1):after {
  position: absolute;
  right: -465px;
  content: "";
  width: 445px;
  height: 445px;
  background-image: url("/images/dumaloq-xira.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.intro__itms:nth-child(1):before {
  position: absolute;
  right: -102px;
  top: calc(50% + -366px);
  z-index: 10;
  content: "";
  width: 735px;
  height: 155px;
  background-image: url("/images/about-uzun-strelka.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.intro__itms:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.intro__itms-box-text-twoo {
  margin-left: 190px;
}

.intro__itms:nth-child(2)::after {
  position: absolute;
  right: 1190px;
  content: "";
  width: 445px;
  height: 445px;
  background-image: url("/images/dumaloq-xira.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.intro__itms:nth-child(2):before {
  position: absolute;
  top: 557px;
  left: -111px;
  z-index: 10;
  content: "";
  width: 735px;
  height: 100px;
  background-image: url("/images/strelka-ong.svg");

  background-repeat: no-repeat;
  background-size: contain;
}
.intro__itms-big-text {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.intro__itms-mini-text {
  margin: 0;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

/* INTRO END  */
.our {
  padding-bottom: 120px;
}
.our__big-text {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
.our__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our__itms {
  width: 350px;
}
.our__itms:nth-child(2) {
  margin: 0 30px;
}
.our__itms::before {
  content: "";
  display: block;
  width: 100%;
  height: 408px;
  background-image: url("/images/01.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.our__itms:nth-child(2):before {
  background-image: url("/images/02.png");
}

.our__itms:nth-child(3):before {
  background-image: url("/images/03.png");
}

.our__itms-big-text {
  margin: 0;
  margin-bottom: 27px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}
.our__itms-mini-text {
  margin: 0;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}

/* OUR END */

.faq {
  padding-bottom: 160px;
}

.faq__big-text {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
.faq__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 64px;
}
.faq__big-boxx {
  width: 350px;
  margin-right: 70px;
}
.faq__big-list-text {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}

.faq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.faq__itms {
  width: 730px;
  list-style: none;
  padding: 30px 0 30px 40px;
  margin-bottom: 16px;
  background: #f2f5f9;
}
.faq__itms:nth-child(3) {
  margin-bottom: 0;
}

.faq__svg {
  stroke: #fcb72b;
  margin-right: 19px;
}

.faq__itms:hover {
  background: #fff4df;
}

.faq__detals .faq__summary .faq__svg {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.faq__detals[open] .faq__summary .faq__svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.faq__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.faq__mini-text {
  margin: 0;
  margin-top: 24px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}
.faq__box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 54px;
}

/* ABOUT END */

.careers {
  background-image: url("/images/lociation.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.careers__boxx {
  padding: 72px 0;
}
.careers__big-text {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}
.careers__itms {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.careers__itms:before {
  position: absolute;
  right: -95px;
  top: calc(50% + 85px);
  z-index: 10;
  content: "";
  width: 735px;
  height: 100%;

  background-image: url("/images/strelka-chap-uzun.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.why {
  margin-top: 696px;
  padding-bottom: 120px;
}
.why__big-text {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
.why__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.why__itms {
  width: 350px;
}
.why__itms:nth-child(2) {
  margin: 0 30px;
}
.why__itms::before {
  content: "";
  display: block;
  width: 100%;
  height: 408px;
  background-image: url("/images/01.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.why__itms:nth-child(2):before {
  background-image: url("/images/02.png");
}

.why__itms:nth-child(3):before {
  background-image: url("/images/03.png");
}

.why__itms-big-text {
  margin: 0;
  margin-bottom: 27px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}
.why__itms-mini-text {
  margin: 0;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}

.general {
  padding-bottom: 136px;
}

.general__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.genearal__itms {
  width: 1110px;
  margin-bottom: 24px;
  padding: 37px 40px;
  background: #f2f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.general__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: auto;
}
.genearas__itms-big-text {
  margin-bottom: 8px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.general__itsm-mini-text {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

.map {
  padding-top: 85px;
  padding-bottom: 122px;
}

.map-info {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.map-info__big-text-box {
  width: 351px;
  margin-right: 30px;
}
.map-info__big-text {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
.map-info__mini-text-box {
  width: 445px;
}
.map-info__mini-text {
  margin: 0;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
